[MASTER]

# ignoring directories doesn't seem to work here, use PylintIgnorePaths below
ignore=midani_tests.py

# It appears that if ignore-patterns has a trailing comma,
#   pytest will not run pylint
ignore-patterns=sample_settings

# From https://github.com/PyCQA/pylint/issues/2686#issuecomment-621927895
# init-hook=
#     sys.path.append(os.getcwd());
#     from midani.third_party.pylint_ignore import PylintIgnorePaths;
#     PylintIgnorePaths(
#         "tests/third_party",
#         "tests/test_settings",
#         "midani/from_my_other_projects",
#         "midani/third_party",
#     )


[MESSAGES CONTROL]

disable=too-many-instance-attributes,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-few-public-methods,
    too-many-arguments,
    missing-function-docstring,
    duplicate-code,
    too-many-lines,
    fixme,
    eval-used,
    invalid-name,
    missing-class-docstring,
    missing-module-docstring,
    missing-function-docstring,
    consider-using-f-string,
    unspecified-encoding,
    unnecessary-lambda-assignment,


[BASIC]
good-names=
    x,
    y,
    i,
    n
good-names-rgxs=x\d+,
    y\d+
